<!--<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>-->

<div class="container">
  <div class="pull-none item-image">
    <div class="img_caption none" style="width:1230px">
      <img class="caption" title="Department of Computer Science" src="https://mcc.edu.in/images/Department/Self/mca.jpg" alt="" itemprop="image" />
      <p class="img_caption">Department of Master of Computer Application</p>
    </div>
  </div>

  <div>
    <div class="staff-member col-sm-4">
      <div class="staff-member-wrap">
        <div class="staff-photo">
            <img width="300" height="300" alt="" class="attachment-thumbnail size-thumbnail wp-post-image lazyloaded" src="assets/images/minnie.jpg">
        </div>
        <div class="staff-member-overlay">
          <div class="staff-member-overlay-inner">
            <h3 class="staff-member-name"><a [routerLink]='["/fetch-data", "1"]'>Dr.D. Minnie – Professor &amp; Head Of the Department</a></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="staff-member col-sm-4">
      <div class="staff-member-wrap">
        <div class="staff-photo">
            <img width="300" height="300" alt="" class="attachment-thumbnail size-thumbnail wp-post-image lazyloaded" src="assets/images/femina.jpg">
        </div>
        <div class="staff-member-overlay">
          <div class="staff-member-overlay-inner">
            <h3 class="staff-member-name"><a [routerLink]='["/fetch-data", "2"]'>Ms. Feminna Sheeba – Assistant Professor</a></h3>
          </div>
        </div>
      </div>
    </div>

    </div>

  <div>
    <div class="staff-member col-sm-4">
      <div class="staff-member-wrap">
        <div class="staff-photo">
            <img width="300" height="300" alt="" class="attachment-thumbnail size-thumbnail wp-post-image lazyloaded" src="assets/images/johanna.jpg">
        </div>
        <div class="staff-member-overlay">
          <div class="staff-member-overlay-inner">
            <h3 class="staff-member-name"><a [routerLink]='["/fetch-data", "3"]'>Ms. Johanna Johnsi Rani G – Assistant Professor</a></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="staff-member col-sm-4">
      <div class="staff-member-wrap">
        <div class="staff-photo">
            <img width="300" height="300" alt="" class="attachment-thumbnail size-thumbnail wp-post-image lazyloaded" src="assets/images/christopher.jpg">
        </div>
        <div class="staff-member-overlay">
          <div class="staff-member-overlay-inner">
            <h3 class="staff-member-name"><a [routerLink]='["/fetch-data", "4"]'>Mr. Christopher Charles – Assistant Professor</a></h3>
          </div>
        </div>
      </div>
    </div>

    </div>
  <div>
    <div class="staff-member col-sm-4">
      <div class="staff-member-wrap">
        <div class="staff-photo">
            <img width="300" height="300" alt="" class="attachment-thumbnail size-thumbnail wp-post-image lazyloaded" src="assets/images/shiny.jpg">
        </div>
        <div class="staff-member-overlay">
          <div class="staff-member-overlay-inner">
            <h3 class="staff-member-name"><a [routerLink]='["/fetch-data", "5"]'>Mrs. Shiny Priyadarshini J – Assistant Professor</a></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="staff-member col-sm-4">
      <div class="staff-member-wrap">
        <div class="staff-photo">
            <img width="300" height="300" alt="" class="attachment-thumbnail size-thumbnail wp-post-image lazyloaded" src="assets/images/felicia.jpg">
        </div>
        <div class="staff-member-overlay">
          <div class="staff-member-overlay-inner">
            <h3 class="staff-member-name"><a [routerLink]='["/fetch-data", "6"]'>Mrs. Felicia Rajathi P – Assistant Professor</a></h3>
          </div>
        </div>
      </div>
    </div>

    </div>

  </div>

